* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #ccc;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    margin-bottom: 50px;
    text-align: center;
}

.todo-list-container {
    margin-top: 20px;
    border: 1px solid darkgrey;
    padding: 30px;
    border-radius: 10px;
    background-color: darkblue;

}

.todo-list-container h2 {
    color: white;
}

.todo-list-container ul {
    list-style-type: none;
}

.todo-list-container li {
    background-color: powderblue;
    margin: 10px 0;
    padding: 20px;


}

.done {
    text-decoration: line-through;
    color: grey;
}

.delete-btn {
    padding: 2px 5px;
    margin-right: 10px;
}

.add-btn {
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid black;
}

input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px 5px;
    margin-right: 10px;
}